/*
    初始化
*/
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img, div, i ,header,footer,section,nav,a,main,textarea{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
i,ins,em,strong{
    font-style: normal;
    text-decoration: none;
}

fieldset, img, input, button, ::before, ::after {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

ul, ol {
    list-style: none;
}

input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "Microsoft YaHei", "宋体";
}

select, input {
    vertical-align: middle;
}

select, input, textarea {
    margin: 0;
}

body {
    font-family: "Microsoft YaHei";
    color: #000;
    background-color: #fff;
}

a {
    color: #000;
    text-decoration: none;
}

img {
    vertical-align: middle;
}
input,button,select,textarea{ outline:none;}

.container {
    min-width: 300px;
    max-width: 750px;
    margin: 0 auto;
    position: relative;
}

.clearfix::before, .clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/*
    公共样式部分
*/
@media (min-width:150px) {
    html{
        font-size:26.5%;
    }
}
@media (min-width:410px) {
    html{
        font-size:40.5%;
    }

}
@media (min-width:610px) {
    html{
        font-size:47.5%;
    }

}
@media (min-width:749px){
    html{
        font-size:62.5%;
    }
}